# Virtual environment
.venv/
cookies.txt
.env
.venv
__pycache__


# Environment variables (contains API keys!)
.env

# Downloaded audio files
downloads/
uploads/


# Python cache
__pycache__/
*.pyc
*.pyo

# # UV lock (optional, remove this line if you want to commit it)
# uv.lock

# OS
.DS_Store
Thumbs.db


vector_db/
